# Data / artifacts
rawdata/
@rawdata/

# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtualenvs
.venv/
venv/
env/

# Tooling caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Build outputs
build/
dist/
*.egg-info/

# IDEs
.idea/
.vscode/

rawdata.zip

embeddings/
